.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  @media (max-width: 1400px) {
    flex-direction: column;
    gap: 2rem;
    .introContainer, .introImagesContainer {
      width: 100%;
    }
  }
  .introContainer {
    width: 100%;
    .aboutMe {
      text-align: justify;
      letter-spacing: 1px;
      font-size: 1.4rem;
      line-height: 2.5rem;
    }
  }
  .introImagesContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1ex;
    .imageContainer {
      position: relative;
      aspect-ratio: 8/5;
      mask-image: radial-gradient(circle, black 70%, transparent 100%);
      .image {
        object-fit: fill;
        border-radius: 1rem;
      }
    }
  }
}