.container {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  padding: 3rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  .topSection {
    display: flex;
    justify-content: space-between;
    .imageContainer {
      position: relative;
      width: 6rem;
      height: 6rem;
      .image {
        object-fit: fill;
        border-radius: 2ex;
      }
    }
    .topTitle {
      .experienceTitle {
        font-size: 2rem;
        letter-spacing: 0.8rex;
        font-weight: bold;
        text-align: start;
      }
      .experienceSubtitle {
        font-weight: 600;
        font-size: 1.3rem;
        text-align: start;
      }
    }
    @media (max-width: 1400px) {
      .imageContainer {
        position: relative;
        width: 4rem;
        height: 4rem;
        .image {
          object-fit: fill;
          border-radius: 2ex;
        }
      }
      .topTitle {
        .experienceTitle {
          font-size: 1.6rem;
          letter-spacing: 0.3rem;
        }
        .experienceSubtitle {
          font-size: 1.1rem;
        }
      }
    }
  }
  .experienceDescription {
    .description {
      text-align: justify;
      letter-spacing: 1px;
      font-size: 1.1rem;
      line-height: 2rem;
    }
    .duration {
      text-align: end;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

}
