.container {
  margin: 4rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  padding: 3rem;
  border-radius: 3rem;
  .topSection {
    display: flex;
    justify-content: space-between;
    .imageContainer {
      position: relative;
      width: 6rem;
      height: 6rem;
      .image {
        object-fit: fill;
        border-radius: 2ex;
      }
    }
    .topTitle {
      .experienceTitle {
        font-size: 2rem;
        letter-spacing: 0.8rex;
        font-weight: bold;
        text-align: end;
      }
      .experienceSubtitle {
        font-weight: 600;
        font-size: 1.3rem;
        margin: 1rex 0;
        text-align: end;
      }
    }
  }
  .experienceDescription {
    text-align: justify;
    margin: 1rem 0;
    letter-spacing: 1px;
    font-size: 1.1rem;
    line-height: 2rem;
  }
  .duration {
    text-align: end;
    font-weight: bold;
  }
}
