.container {
  position: relative;
  height: 100vh;
  width: 100wh;
  overflow: hidden;
  .imageContainer {
    position: relative;
    flex: 0 0 100%;
    height: 100%;
    .image {
      object-fit: cover;
      object-position: center;
    }
  }
  .intro {
    position: absolute;
    color: white;
    z-index: 1;
    left: 60%;
    top: 80%;
    width: 70%;
  }
}