.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}