.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  .thumbnailContainer {
    position: relative;
    aspect-ratio: 7/5;
    width: 50%;
    .thumbnail {
      object-fit: fill;
      border-radius: 4ex;
    }
  }
  .projectInfo {
    width: 50%;
    .projectTitle {
      font-size: 2rem;
      letter-spacing: 0.8rex;
      font-weight: bold;
    }
    .projectDescription {
      text-align: justify;
      margin: 1rem 0;
      letter-spacing: 1px;
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}