.container {
  display: flex;
  gap: 4rem;
  @media( max-width: 1400px) {
    flex-direction: column;
  }
  .thumbnailContainer {
    position: relative;
    aspect-ratio: 8/5;
    width: 100%;
    .thumbnail {
      object-fit: fill;
      border-radius: 4ex;
      cursor: pointer;
    }
    .dots {
      position: absolute;
      left: 50%;
      top: 110%;
      transform: translate(-50%, -110%);
      display: flex;
      gap: 1rex;
      .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid white;
        cursor: pointer;
        &:hover {
          background-color: white;
        }
      }
    }
  }
  .projectInfo {
    width: 100%;
    .projectTitle {
      font-size: 2rem;
      letter-spacing: 0.8rex;
      font-weight: bold;
      text-align: end;
    }
    .projectDescription {
      text-align: justify;
      letter-spacing: 1px;
      font-size: 1.1rem;
      line-height: 2rem;
    }
  }
}