@mixin titleBase {
  font-weight: bold;
  font-size: 3rem;
  display: flex;
  margin-bottom: 1.5rem;
}

.container {
  @include titleBase;
}
.containerRight {
  @include titleBase;
  justify-content: right;
}

.title2Purple {
  color: var(--main-purple);
}
.title2Yellow {
  color: var(--main-yellow-dark);
}