.container {
  color: black;
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  .closeIcon {
    position: absolute;
    left: 97%;
    top: 1%;
    transform: translate(0, -5%);
    font-size: 1.4rem;
    cursor: pointer;
  }
  .title {
    font-weight: bold;
    text-space: 2rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 5rem;
  }
  .project {
    width: 100%;
    height: 100%;
    .mainContainer {
      position: relative;
      width: 95%;
      height: 70%;
      margin: auto;
      .main {
        object-fit: contain;
      }
    }
    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      .imagesContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        @media (max-width: 1600px) and (min-width: 1300px) {
          grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: 1300px) and (min-width: 1000px) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 1000px) and (min-width: 700px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 700px) {
          grid-template-columns: repeat(1, 1fr);
        }

        gap: 1ex;
        .imageContainer {
          position: relative;
          width: 200px;
          aspect-ratio: 1;
          .image {
            object-fit: contain;
            opacity: 0.6;
            transition: 0.2s ease;
            cursor: pointer;
            &:hover {
              transform: scale(1.05);
              opacity: 1;
            }
            &.selected {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.arrow {
  margin: 0 2rem;
  cursor: pointer;
  transition: 0.2s ease;
  &:hover {
    transform: scale(1.3);
  }
}