@import "tailwindcss";

:root {
  --background: #1F1F1F;
  --font-color: #FAFAFA;
  --foreground: #171717;
  --main-yellow-light: #FCFFAB;
  --main-yellow: #DAE34F;
  --main-yellow-dark: #C5CF32;
  --main-purple-dark: #5B0680;
  --main-purple: #7F2AA3;
  --main-purple-light: #E4ACFC;


}

@theme inline {
  /*--color-background: var(--background);*/
  /*--color-foreground: var(--foreground);*/
  /*--font-sans: var(--font-geist-sans);*/
  /*--font-mono: var(--font-geist-mono);*/
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a;*/
    /*--foreground: #ededed;*/
  }
}

html, body {
  background: var(--background);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
}
