.modal {
  position: fixed;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}
.main {

}
.mainModalOpen {
  backdrop-filter: blur(0.1px);
  filter: brightness(50%);
}