.nav {
  .navigationBar {
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  .introduction {

  }
}
.mainBody {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 60%;
  margin: 5rem auto;
  .about {
  }
  .projects {
  }
  .experiences {
  }
  .contact {
  }
}
.footer {
  padding: 3rem 0 1rem 0;
}