@mixin fadeInLeft {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.nav {
  .navigationBar {
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  .introduction {

  }
}
.mainBody {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 60%;
  margin: 5rem auto;
  .about {
    opacity: 0;
    transform: translateX(-50px);
    &.fadeInStyle {
      @include fadeInLeft();
    }
  }
  .projects {
    opacity: 0;
    transform: translateX(-50px);
    &.fadeInStyle {
      @include fadeInLeft();
    }
  }
  .experiences {
    opacity: 0;
    transform: translateX(-50px);
    &.fadeInStyle {
      @include fadeInLeft();
    }
  }
  .contact {
  }
}
.footer {
  padding: 3rem 0 1rem 0;
}