@use "@/styles/globals" as gstyle;

.nav {
  .navigationBar {
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  .introduction {

  }
}
.mainBody {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 60%;
  margin: 5rem auto;
  .about {
    opacity: 0;
    transform: translateX(-50px);
    &.fadeInStyle {
      @include gstyle.fadeInLeft();
    }
  }
  .projects {
  }
  .experiences {
  }
  .contact {
  }
}
.footer {
  padding: 3rem 0 1rem 0;
}