.container {
  .intro {
    font-family: var(--font-pt-sans-narrow), cursive;
    //font-family: var(--font-dancing-script), cursive;
    #line1 {
      display: flex;
      align-items: center;
      font-size: 4rem;
      text-wrap: wrap;
      #line {
        border-top: 0.1ex solid white;
        width: 3ex;

      }
    }
    #line2 {
      text-align: left;
      line-height: 1.5ex;
      font-size: 2rem;
      text-wrap: wrap;
    }
  }
}