.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  .proficiency {
    display: flex;
  }
}

@mixin star {
  width: 1.5rem;
  height: 1.5rem;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.star {
  @include star;
  background: gold;
}
.decimalStars {
  position: relative;
  background: gray;
  @include star;
  .decimalStarStyle {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    background: gold;
  }
}

