.navigationBarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0;
  &.shrunk {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    font-size: 0.7em;
    padding: 0;
  }
  .imageContainer {
    position: relative;
    aspect-ratio: 3/1;
    width: 15%;
    &.shrunkLogo {
      position: relative;
      aspect-ratio: 3/1;
      width: 5%;
    }
    .image {
      object-fit: contain;
    }
  }
  .navigationBarItemsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    font-weight: 600;
    & > *{
      cursor: pointer;
      transition: 0.2s ease;
      letter-spacing: 0.5rex;
      &:hover {
        color: var(--main-purple-light);
      }
    }
  }
}