.container {
  position: relative;
  border: 1px solid var(--main-yellow);
  border-radius: 5em;
  font-size: 1rem;
  height: 1.2rem;
  margin: 1rem 0;
  overflow: hidden;
  .progressBar {
    display: block;
    height: 100%;
    border-radius: 5em;
    transition: width 0.3s ease;
    background: linear-gradient(90deg, var(--main-purple-light), var(--main-purple), var(--main-purple-dark));
  }
  .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    pointer-events: none;
    font-weight: bold;
  }
}
