.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  .logoContainer {
    position: relative;
    aspect-ratio: 3;
    width: 15em;
    margin: auto;
    .logo {
      object-fit: fill;
    }
  }
  @mixin footerElements {
    display: flex;
    width: 50%;
    justify-content: center;
    font-weight: bold;
    gap: 3rem;
    & > * {
      cursor: pointer;
      &:hover {
        color: var(--main-purple-light);
      }
    }
  }
  .socialMediaContainer {
    @include footerElements;
    font-size: 2rem;
  }
  .quickLinkContainer {
    @include footerElements;

  }
}
