@use "@/styles/globals" as gstyle;

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .experiencesContainer {
    .experience {
      opacity: 0;
      transform: translateX(-50px);
      &.fadeInStyle {
        @include gstyle.fadeInLeft();
      }
    }
  }
  .skill {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    .frameworks, .languages {
      .skillTitle {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: start;
        margin-bottom: 1rem;
      }
      .skills {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rex;
        row-gap: 2rem;
      }
    }
  }
}