.container {
  width: 60%;
  margin: auto;
  .skill {
    font-size: 2rem;
    font-weight: bold;
  }
  .skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
    .frameworks, .languages {
      .skillTitle {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: start;
        margin: 1rem 0;

      }
      .skills {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rex;
        row-gap: 2rem;
      }
    }
  }
}